<style>
  body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .form-title {
    font-family: 'Black Ops One', sans-serif;
    color: #012B4D;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .apple-form {
    text-align: left;
  }

  .form-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-actions {
    text-align: center;
    margin-top: auto;
  }

  .btn-11,
  .back-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    color: #F2F3F4;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
    width: auto;
    margin-bottom: 20px;
  }

  .back-btn {
    color: #808080;
  }

  .back-btn:hover,
  .back-btn:focus {
    transform: scale(1.1);
    font-size: 18px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  }

  .login-link {
    margin-top: 15px;
    font-size: 14px;
  }

  .btn-danger {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #dc3545;
  }

  .image-container {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
  }

  .user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .trash-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .profile-circle {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #004080 0%, rgb(17, 107, 123) 50%, #ffc107 80%, rgb(0, 153, 51) 100%);
    clip-path: circle();
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -28px;
    margin-left: -1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
</style>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="card-container">
  <div class="card">
    <h2 class="form-title">Edit Profile</h2>
    <br>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put, html: { class: 'apple-form' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="image-container">
          <% if resource.photo.present? && Cloudinary.config.cloud_name.present? %>
            <img src="<%= resource.photo.url %>" alt="User photo" class="user-image">
          <% else %>
            <img src="https://via.placeholder.com/150" alt="Placeholder" class="user-image">
          <% end %>
          <div class="profile-circle"></div>
          <div id="delete-profile-pic" data-user-id="<%= @user.id %>">
          <div class="trash-button-container">
            <%= link_to(
              delete_profile_picture_user_path(current_user),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete your profile picture?' },
              class: 'btn btn-danger'
            ) do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
          </div>
        </div>
        <%= f.input :photo, as: :file, class: 'form-control' %>
        <%= f.input :email, required: true, autofocus: true, class: 'form-control' %>
        <%= f.input :username, required: true, class: 'form-control' %>
        <%= f.input :name, required: true, class: 'form-control' %>
        <%= f.input :language, class: 'form-control' %>
        <%= f.input :favourite_team, class: 'form-control' %>
        <%= f.input :preferences, class: 'form-control' %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: 'form-control' } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: 'form-control' } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password", class: 'form-control' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'btn-11' %>
      </div>
    <% end %>

    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <div style="text-align: center;">
        <%= link_to 'Back', profile_path, class: 'form-control back-btn' %>
        <br>
        <div>Unhappy?
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const deleteButton = document.getElementById("delete-profile-pic");

    if (deleteButton) {
      deleteButton.addEventListener("click", function () {
        const confirmDelete = confirm("Are you sure you want to delete your profile picture?");

        if (confirmDelete) {
          // Perform the action to delete the profile picture here
          // You may want to submit a form or make an AJAX request to handle the deletion
          console.log("Profile picture deleted!");
        }
      });
    }

    const fileInput = document.querySelector('.form-control[type="file"]');
    const imgPreview = document.querySelector('.user-image');

    fileInput.addEventListener('change', function (event) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onloadend = function () {
        imgPreview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        imgPreview.src = "";
      }
    });
  });
</script>
