<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <style>
    body {
      background: url('https://img.freepik.com/vetores-gratis/vista-superior-da-textura-do-estadio-de-grama-verde-de-futebol_107791-20406.jpg?w=1800&t=st=1701688827~exp=1701689427~hmac=0a3fc50a9c0c68ebbd21d9109739546d4f1916ed7daeff74993eb443ccaed517');
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }

    .navbar {
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
    }

    h2 {
      color: #1CAE82;
      font-family: 'Black Ops One', cursive;
      font-size: 36px;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .form-container {
      background-color: #fff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 60%;
      margin: 0 auto;
      text-align: left;
      margin-bottom: 20px; /* Adjusted margin-bottom */
    }

    .form-container h2 {
      margin-bottom: 20px;
    }

    .form-container p {
      width: calc(100% - 20px);
      padding: 8px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-container .login-link,
    .form-actions {
      text-align: center;
      margin-top: 15px;
    }

    .form-actions a {
      background-color: #1CAE82;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }

    .form-actions a:hover {
      background-color: #ffc107;
    }

    .login-link a {
      text-decoration: none;
      color: #666;
    }

    .login-link a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>

<div class="form-container">
  <div class="navbar">
    <h2>Your Profile</h2>
  </div>

  <% if user_signed_in? %>
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo.variant(resize: '100x100'), alt: 'profile picture', class: 'rounded-circle' %>
    <% else %>
      <%= image_tag 'https://placehold.co/100x100', alt: 'placeholder', class: 'rounded-circle' %>
    <% end %>

    <p>Name: <%= @user.name %></p>
    <p>Language: <%= @user.language %></p>
    <p>Favourite Team: <%= @user.favourite_team %></p>
    <p>Preferences: <%= @user.preferences %></p>
    <p>Email: <%= @user.email %></p>

    <div class="form-actions">
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
    </div>
  <% else %>
    <p>You need to sign in to view your profile.</p>
  <% end %>

</div>

</body>
</html>
