<h1><%= @group.name %></h1>

<p>
  <strong>Game:</strong>
  <%= @group.game.home_team.name %> vs <%= @group.game.away_team.name %>
</p>

<%= link_to 'Join', join_game_group_path(@group.game, @group), method: :post %>
<%= link_to 'Edit', edit_game_group_path(@game, @group) %>
