<style>
  body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0; /* Add this to remove margin-bottom */
  }

  .form-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Add this to remove margin-bottom */
  }

  .form-title {
    font-family: 'Black Ops One', sans-serif;
    color: #012B4D;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .apple-form {
    text-align: left;

    .form-control {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-sizing: border-box;
    }

    .form-actions {
      text-align: center;
      margin-top: 20px;
    }

    .btn-11 {
      @import 'application';
      display: block;
      margin: 0 auto 20px;
    }

    .login-link {
      margin-top: 15px;
      font-size: 14px;
    }
  }
</style>

<div class="form-container">
  <div class="form-card">
    <h2 class="form-title">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'apple-form' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset password", class: 'btn-11' %>
      </div>
    <% end %>

    <div class="login-link">
      Already remembered your password? <%= link_to 'Log in here', new_session_path(resource_name) %>
    </div>
  </div>
</div>
