<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <style>
    body {
      background: url('https://img.freepik.com/vetores-gratis/vista-superior-da-textura-do-estadio-de-grama-verde-de-futebol_107791-20406.jpg?w=1800&t=st=1701688827~exp=1701689427~hmac=0a3fc50a9c0c68ebbd21d9109739546d4f1916ed7daeff74993eb443ccaed517');
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }

    h2 {
      color: #1CAE82;
      font-family: 'Black Ops One', cursive;
      font-size: 36px;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .form-container {
      background-color: #fff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 60%;
      margin: 0 auto;
      text-align: left;
      margin-bottom: 20px;
    }

    .form-container h2 {
      margin-bottom: 20px;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="password"],
    .form-container select {
      width: calc(100% - 20px);
      padding: 8px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-container input[type="file"] {
      border: none;
    }

    .form-container select {
      width: 100%;
    }

    .form-container .login-link,
    .form-actions {
      text-align: center;
      margin-top: 15px;
    }

    .form-actions input[type="submit"] {
      background-color: #1CAE82;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-actions input[type="submit"]:hover {
      background-color: #ffc107;
    }

    .login-link a {
      text-decoration: none;
      color: #666;
      font-size: 14px;
    }

    .login-link a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>

<div class="form-container">
  <h2>Change your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirm your new password",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Change my password" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

</body>
</html>
