<style>
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

  .navbar {
    background: linear-gradient(to left, #012B4D, #001626);
    margin-bottom: 0;
  }

  .navbar-title {
    color: #F2F3F4;
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    text-decoration: none;
  }

  .navbar-title:hover {
    text-decoration: none;
  }

  .navbar-toggler {
    background-color: #F2F3F4;
  }

  .navbar-toggler-icon {
    border-color: #012B4D;
  }

  .nav-profile-picture a {
    position: relative;
    z-index: 3;
  }

  .nav-profile-picture {
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  .nav-profile-image {
    width: 35px; /* Set a fixed width for the image */
    height: 35px; /* Set a fixed height for the image */
    border-radius: 50%;
    object-fit: cover;
    z-index: 2; /* On top of the circle */
  }

  .nav-profile-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    background: linear-gradient(to bottom right, #004080 0%, rgb(17, 107, 123) 50%, #ffc107 80%, rgb(0, 153, 51) 100%);
    clip-path: circle();
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
</style>


<nav class="navbar navbar-expand-md">
  <div class="container d-lg-flex align-items-center">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'logo', class: 'logo', width: '30' %>
      <% end %>
    </div>
    <a href="<%= root_path %>" class="navbar-title ms-lg-4 me-lg-auto">Match Mate</a>

    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navmenu">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page?(root_path)}", id: 'home-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Games', games_path, class: "nav-link #{'active' if current_page?(games_path)}", id: 'games-link' %>
        </li>

         <li class="nav-item">
    <%= link_to 'Teams', teams_path, class: "nav-link #{'active' if current_page?(teams_path)}", id: 'teams-link' %>

        </li>
        <li class="nav-item me-4">
          <% if user_signed_in? %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-dark-blue' %>
          <% else %>
            <%= button_to 'Login', new_user_session_path, class: 'btn btn-dark-blue' %>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="nav-profile-picture me-2 d-md-block">
       <% if current_user.photo.attached? %>
  <%= link_to profile_path do %>
    <%= cl_image_tag(current_user.photo.key, width: '35', height: '35', crop: :fill, class: 'rounded-circle nav-profile-image') %>
  <% end %>
<% else %>
  <%= link_to profile_path do %>
    <%= image_tag 'https://placehold.co/40x40', alt: 'placeholder', class: 'rounded-circle nav-profile-image', width: '35', height: '35' %>
  <% end %>
<% end %>
              <div class="nav-profile-circle"></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
