<style>
  body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/gramado.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://f.i.uol.com.br/fotografia/2018/06/22/15296685875b2ce3ebd1265_1529668587_3x2_md.jpg');
    height: 100vh;
  }

  .user-profile-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-profile-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .profile-title {
    font-family: 'Black Ops One', sans-serif;
    color: #012B4D;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .user-profile-form {
    text-align: left;

    .form-control {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
</style>

<div class="user-profile-container">
  <div class="user-profile-card">
    <h2 class="profile-title">User Profile</h2>

    <div class="user-profile-form">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Hi, <%= @user.name %></h2>

    <%= link_to edit_user_registration_path, class: 'btn btn-g4' do %>
      <i class="bi bi-pencil-fill"></i>
    <% end %>
  </div>

  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<br>
  <p>Email: <%= @user.email %></p>
  <p>Language: <%= @user.language %></p>
  <p>Favorite Team: <%= @user.favourite_team %></p>
  <p>Preferences: <%= @user.preferences %></p>
</div>

    </div>
  </div>
</div>
